/* ----------FONTS */
@font-face {
	font-family: "GilroyLight";
	font-style: normal;
	font-weight: 300;
	src: url("../fonts/gilroylight.woff2") format("woff2"),
		 url("../fonts/gilroylight.woff") format("woff");
}

@font-face {
	font-family: "GilroyExtraBold";
	font-style: normal;
	font-weight: 800;
	src: url("../fonts/gilroyextrabold.woff2") format("woff2"),
		 url("../fonts/gilroyextrabold.woff") format("woff");
}

@font-face {
	font-family: "OpenSans";
	font-style: normal;
	font-weight: 400;
	src: url("../fonts/opensans.woff2") format("woff2"),
		 url("../fonts/opensans.woff") format("woff");
}

@font-face {
	font-family: "OpenSansLight";
	font-style: normal;
	font-weight: 300;
	src: url("../fonts/opensanslight.woff2") format("woff2"),
		 url("../fonts/opensanslight.woff") format("woff");
}

/* ----------COMMON STYLE */
.body {
	width: 100%;
	background: #ffffff;
	font-style: normal;
	font-family: "OpenSans", "Arial", sans-serif;
}

.body a {
	text-decoration: none;
}

/* ----------HEADER */
.header {
	position: relative;
	
	margin: 40px auto 0 auto;
	padding-left: 60px;
	padding-right: 60px;
	padding-top: 33px;
	width: 1040px;
	min-height: 153px;

	background-color: rgba(240, 197, 46, 0.5);
}

	.header__logo {
		position: absolute;
		top: -28px;
		left: 57px;

		font-family: GilroyExtraBold;
		font-size: 48px;
		letter-spacing: 0.7px;
		text-transform: uppercase;
		text-decoration: none;
		color: rgba(0, 0, 0, 1);
	}

	.header__logo[href]:hover {
		color: rgba(0, 0, 0, 0.6);
	}

	.header__logo[href]:active {
		color: rgba(0, 0, 0, 0.3);
	}

	.header__nav {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		align-items: stretch;
		justify-content: space-between;
	}

		.header__aside-nav {
			display: flex;
			flex-direction: column;
			justify-content: flex-start;
			flex-basis: 500px;
		}

			.search {
				display: flex;
				flex-direction: row;
				justify-content: flex-start;
				height: 49px;
				margin-bottom: 32px;
			}

				.search__box {
					display: flex;
					flex-direction: row;
					flex-wrap: nowrap;
					justify-content: center;
					align-items: center;
					flex-basis: 355px;
					padding-left: 38px;

					font-family: OpenSansLight;
					font-size: 15px;
					line-height: 36px;
					letter-spacing: 0.2px;

					color: #000000;
					
					border: none;
					outline: 0px;
					background: transparent url("../img/icon_sprite/icon_sprite.png") no-repeat -37px -1390px;
				}

				.search__box::-webkit-input-placeholder {
					color: rgba(0, 0, 0, 0.3);
				}

				.search__box::-moz-placeholder {
					color: rgba(0, 0, 0, 0.3);
				}

				.search__box:-ms-input-placeholder {
					color: rgba(0, 0, 0, 0.3);
				}

				.search__box:hover::-webkit-input-placeholder {
					color: rgba(0, 0, 0, 0.6);
				}

				.search__box:hover::-moz-placeholder {
					color: rgba(0, 0, 0, 0.6);
				}

				.search__box:hover:-ms-input-placeholder {
					color: rgba(0, 0, 0, 0.6);
				}

				.search__box:focus::-webkit-input-placeholder {
					color: rgba(0, 0, 0, 0.6);
				}

				.search__box:focus::-moz-placeholder {
					color: rgba(0, 0, 0, 0.6);
				}

				.search__box:focus:-ms-input-placeholder {
					color: rgba(0, 0, 0, 0.6);
				}

				.search__box:focus {
					box-shadow: inset 0px -2px #000000;
				}

				.search__button {
					display: none;
					flex-direction: row;
					flex-wrap: nowrap;
					justify-content: center;
					align-items: center;
					flex-basis: 85px;

					font-family: OpenSansLight;
					font-size: 15px;
					line-height: 36px;
					color: #000000;
					
					border: none;
					outline: none;
					background-color: transparent;
					box-shadow: inset 0px 0px 0px 2px #000000;

					cursor: pointer;
				}

				.search__button:hover {
					background-color: #000000;
					color: rgba(255, 255, 255, 1);
				}

				.search__button:active {
					background-color: #000000;
					color: rgba(255, 255, 255, 0.3);
				}

				.search__box:focus + .search__button,
				.search__button:active  {
					display: flex;
				}

			.header__catalog-menu {
				position: relative;
			}

				.header__catalog-menu-link {
					position: relative;
					padding-right: 33px;
					font-family: GilroyExtraBold;
					font-size: 18px;
					text-decoration: none;
					text-transform: uppercase;
					letter-spacing: 3.5px;
					color: #000000;
				}

				.header__catalog-menu-link:hover {
					opacity: 0.6;
				}

				.header__catalog-menu-link:active {
					opacity: 0.3;
				}

				.header__catalog-menu-link::before {
					content: "";
					position: absolute;
					top: 10px;
					right: 4px;
					width: 16px;
					height: 2px;

					background-color: rgba(39, 37, 37, 0.3);
				}

				.header__catalog-menu-link::after {
					content: "";
					position: absolute;
					top: 10px;
					right: 4px;
					width: 16px;
					height: 2px;

					background-color: rgba(39, 37, 37, 0.3);

					transform: rotate(90deg);
				}

				.header__catalog-list-wrapper {
					position: absolute;
					top: 20px;
					left: -60px;
					z-index: 100;
					display: none;
					width: 1160px;
					margin: 0;
					padding: 0;

					background-color: #f7e296;
				}

				.header__catalog-menu-link:hover + .header__catalog-list-wrapper,
				.header__catalog-list-wrapper:hover {
					display: block;
					margin: 0;
					padding: 0;
				}

					.header__catalog-list {
						display: flex;
						flex-direction: row;
						flex-wrap: wrap;
						width: 650px;
						margin: 0;
						padding: 0;
						padding-left: 60px;
						padding-top: 23px;
						padding-bottom: 34px;

						list-style-type: none;
					}

						.header__catalog-item {
							flex-basis: 200px;
						}
						
						.header__catalog-item:first-child,
						.header__catalog-item:nth-child(4) {
							margin-right: 39px;
						}

						.header__catalog-item:last-child {
							flex-basis: 100%;
						}

						.header__catalog-link {
							font-family: OpenSansLight;
							font-size: 15px;
							line-height: 36px;
							text-decoration: none;
							letter-spacing: 0.2px;
							color: #000000;
						}

						.header__catalog-link:hover {
							opacity: 0.6;
						}

						.header__catalog-link:active {
							opacity: 0.3;
						}

		.header__main-nav {
			display: flex;
			flex-direction: column;
			justify-content: flex-start;
			flex-basis: 500px;
		}

			.header__interactive-list {
				display: flex;
				flex-direction: row;
				flex-basis: 49px;
				margin: 0;
				margin-bottom: 32px;
				padding: 0;
				
				list-style-type: none;
			}

				.header__interactive-item {
					display: flex;
					justify-content: flex-end;
					align-items: center;
					flex-wrap: nowrap;
				}

				.header__interactive-item:first-child {
					margin-right: auto;
				}

				.header__interactive-item:last-child {
					margin-left: 39px;
				}

					.header__interactive-link {
						position: relative;

						display: block;
						padding-left: 26px;

						font-family: OpenSansLight;
						font-size: 15px;
						text-decoration: none;
						color: #000000;
					}

					.header__interactive-link:hover {
						opacity: 0.6;
					}

					.header__interactive-link:active {
						opacity: 0.3;
					}

					.header__interactive-link::before {
						content: "";
						position: absolute;
						width: 13px;
						height: 13px;
						background: transparent url("../img/icon_sprite/icon_sprite.png") no-repeat;
					}

					.header__interactive-link--user::before {
						top: 3px;
						left: 0px;
						background-position: -40px -1621px;
					}

					.header__interactive-link--compare::before {
						top: 5px;
						left: 5px;
						background-position: -40px -224px;
					}

					.header__interactive-link--cart::before {
						top: 3px;
						left: 3px;
						background-position: -40px -40px;
					}

					.header__interactive-link--out {
						padding: 0;
						margin-left: 22px;

						color: #000000;
						opacity: 0.3;
					}

					.header__interactive-link--out:hover {
						opacity: none;
					}

			.header__menu-list {
				display: flex;
				flex-direction: row;
				margin: 0;
				padding: 0;
				
				list-style-type: none;
			}

				.header__menu-item {
					display: flex;
					flex-direction: row;
					align-content: center;
					margin-right: 35px;	
				}

				.header__menu-item:last-child {
					margin-left: auto;
					margin-right: -3.5px;
				}

					.header__menu-link {
						font-family: GilroyExtraBold;
						font-size: 18px;
						text-decoration: none;
						text-transform: uppercase;
						letter-spacing: 3.5px;
						color: #000000;
					}

					.header__menu-link:hover {
						opacity: 0.6;
					}

					.header__menu-link:active {
						opacity: 0.3;
					}

/* ----------MAIN */
.main {
	width: 100%;

	background-color: #ffffff;
}

/* ----------MAIN--index */
.main-slider {
	width: 1040px;
	margin: 0 auto;
	margin-bottom: 114px;
	padding-left: 60px;
	padding-right: 60px;

	box-shadow: inset 0 113px #f7e296;
}

	#slid-input-1,
	#slid-input-2,
	#slid-input-3 {
		display: none;
	}

	.main-slider__box {
		display: none;
		flex-direction: row;
		flex-wrap: nowrap;
		align-items: flex-start;
		justify-content: space-between;
	}

	#slid-input-1:checked ~ .main-slider__box--01 {
		display: flex;
	}

	#slid-input-2:checked ~ .main-slider__box--02 {
		display: flex;
	}

	#slid-input-3:checked ~ .main-slider__box--03 {
		display: flex;
	}

		.main-slider__visual {
			position: relative;
			flex-basis: 500px;
		}

			.main-slider__visual img {
				position: absolute;
			}

			.main-slider__box--01 img {
				top: 2px;
				left: 29px;
			}

			.main-slider__box--02 img {
				top: 14px;
				left: 56px;
			}

			.main-slider__box--03 img {
				top: 67px;
				left: -29px;
			}

		.main-slider__text {
			position: relative;
			display: flex;
			flex-direction: column;
			justify-content: flex-end;

			flex-basis: 500px;
		}
		
		.main-slider__text:before {
			content: "";
			position: absolute;
			top: 39px;
			left: 0px;
			z-index: 1;

			width: 100px;
			height: 7px;

			background-color: #ffffff;
		}

		.main-slider__text--01:after {
			content: "01";
			position: absolute;
			top: -12px;
			right: -12px;
			z-index: 1;

			font-family: GilroyExtraBold;
			font-size: 179.2px;
			line-height: 179.2px;
			color: #ffffff;
		}

		.main-slider__text--02:after {
			content: "02";
			position: absolute;
			top: -12px;
			right: -12px;
			z-index: 1;

			font-family: GilroyExtraBold;
			font-size: 179.2px;
			line-height: 179.2px;
			color: #ffffff;
		}

		.main-slider__text--03:after {
			content: "03";
			position: absolute;
			top: -12px;
			right: -12px;
			z-index: 1;

			font-family: GilroyExtraBold;
			font-size: 179.2px;
			line-height: 179.2px;
			color: #ffffff;
		}

			.main-slider__title {
				position: absolute;
				top: 43px;
				left: 0px;
				z-index: 10;

				font-family: GilroyExtraBold;
				font-size: 47px;
				line-height: 55px;
				letter-spacing: 0.4px;
				color: #000000;
			}

			.main-slider__description {
				width: 500px;
				padding-top: 197px;
				margin-bottom: 43px;

				font-family: OpenSansLight;
				font-size: 15px;
				line-height: 30px;
				letter-spacing: 0.17px;
				color: #000000;
			}

			.main-slider__labels {
				display: flex;
				flex-direction: row;
				justify-content: flex-end;
				margin-bottom: 64px;
			}

				.main-slider__labels .special-link {
					margin-right: auto;
					padding-left: 43px;
					padding-right: 43px;
					height: 40px;

					font-family: GilroyExtraBold;
					font-size: 18px;
					letter-spacing: 3.7px;
					line-height: 40px;
					text-decoration: none;
					text-transform: uppercase;
					color: #000000;
					
					background: linear-gradient(to bottom, transparent 0px, transparent 16px, #f0c52e 16px, #f0c52e 24px, transparent 24px);
					transition: background 1s;
				}

				.main-slider__labels .special-link:hover {
					background: #f0c52e;
				}

				.main-slider__labels .special-link:active {
					color: rgba(0, 0, 0, 0.3);
				}

				.main-slider__input-label {
					align-self: center;
					box-sizing: border-box;
					margin-left: 23px;
					width: 10px;
					height: 10px;

					border-radius: 50%;
					border: 3px solid rgba(0, 0, 0, 0.3);

					cursor: pointer;
				}

				.main-slider__input-label:last-child {
					margin-right: 24px;
				}

				#slid-input-1:checked ~ .main-slider__box .main-slider__input-label--01,
				#slid-input-2:checked ~ .main-slider__box .main-slider__input-label--02,
				#slid-input-3:checked ~ .main-slider__box .main-slider__input-label--03 {
					border: 3px solid #000000;
				}

				.main-slider__input-label:hover {
					border: 3px solid rgba(0, 0, 0, 0.4);
				}

				.main-slider__input-label:active {
					border: 3px solid #000000;
				}

			.main-slider__feature-list {
				display: flex;
				flex-direction: row;
				justify-content: flex-start;
				margin: 0;
				padding: 0;
				
				list-style-type: none;
			}

				.main-slider__feature-item {
					flex-basis: 160px;
					margin: 0;
					padding: 0;

					font-family: OpenSansLight;
					font-size: 13px;
					line-height: 20px;
					color: #464646;
				}

				.main-slider__feature-item:nth-child(2) {
					flex-basis: 140px;
				}

					.main-slider__feature-item span {
						display: block;
						margin-bottom: 21px;

						font-family: GilroyLight;
						font-size: 36px;
						color: #000000;
					}

.catalog {
	width: 1160px;
	margin: 0 auto;
	margin-bottom: 85px;
}

	.catalog__list {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		align-items: flex-start;
		justify-content: space-between;
		margin: 0px;
		padding: 0px;
				
		list-style-type: none;
	}

		.catalog__item {
			flex-basis: 160px;
			margin: 0px;
			padding: 0px;
		}

			.catalog__link {
				font-family: GilroyExtraBold;
				font-size: 18px;
				text-decoration: none;
				color: #000000;
			}

				.catalog__visual {
					position: relative;

					margin-bottom: 35px;
					width: 160px;
					height: 160px;

					background-color: rgba(240, 197, 46, 0.5);
				}

				.catalog__visual:hover {
					background-color: rgba(240, 197, 46, 1);
				}

					.catalog__visual--virtual img {
						position: absolute;
						top: 52px;
						left: 31px;
					}

					.catalog__visual--self img {
						position: absolute;
						bottom: 0px;
						left: 38px;
					}

					.catalog__visual--camera img {
						position: absolute;
						top: 38px;
						left: 49px;
					}

					.catalog__visual--bracer img {
						position: absolute;
						top: 50px;
						left: 28px;
					}

					.catalog__visual--watch img {
						position: absolute;
						top: 32px;
						left: 55px;
					}

					.catalog__visual--copter img {
						position: absolute;
						top: 49px;
						left: 13px;
					}

					.catalog__item span {
						line-height: 21px;
						letter-spacing: 0.5px;
					}

					.catalog__link:active img,
					.catalog__item:active span {
						opacity: 0.3;
					}

					.catalog__visual--bracer + span {
						font-size: 17.5px;
					}

.service {
	width: 100%;
	padding-bottom: 69px;
	margin-bottom: 94px;

	background: #e5e5e5;
	box-shadow: inset 0px 100px #ffffff;
}

	.service__wrapper {
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		align-items: flex-start;
		justify-content: space-between;
		width: 1160px;
		margin: 0 auto;
	}

		#ser-input-1,
		#ser-input-2,
		#ser-input-3 {
			display: none;
		}

		.service__list {
			display: flex;
			flex-direction: column;
			justify-content: flex-start;
			flex-basis: 277px;
			margin: 0px;
			padding: 0px;
			padding-top: 80px;
			padding-bottom: 47px;

			border-right: 7px solid #000000;
			
			list-style-type: none;
		}

			.service__item {
				display: flex;
				justify-content: flex-start;
				align-items: center;
				flex-basis: 40px;
				margin-bottom: 24px;

				font-family: GilroyExtraBold;
				font-size: 18px;
				text-transform: uppercase;
			}

			#ser-input-1:checked ~ .service__list .service__item--01,
			#ser-input-2:checked ~ .service__list .service__item--02,
			#ser-input-3:checked ~ .service__list .service__item--03 {
				background: #000000;
				cursor: pointer;
			}

				.service__item .service__input-label {
					display: flex;
					justify-content: center;
					align-items: center;
					flex-basis: 160px;
					height: 40px;
					padding-left: 2px;

					letter-spacing: 4px;

					background: linear-gradient(to bottom, transparent 0px, transparent 16px, #f0c52e 16px, #f0c52e 24px, transparent 24px);
					transition: background 0.1s;
					cursor: pointer;
				}

				.service__item .service__input-label:hover {
					background: #f0c52e;
				}

				#ser-input-1:checked ~ .service__list .service__input-label--01,
				#ser-input-2:checked ~ .service__list .service__input-label--02,
				#ser-input-3:checked ~ .service__list .service__input-label--03 {
					color: #f7e184;
					background: #000000;
				}

		.service__type {
			position: relative;
			display: none;
			flex-basis: 860px;
			padding-top: 70px;
			padding-left: 101px;
			box-sizing: border-box;
		}

		#ser-input-1:checked ~ .service__type--01 {
			display: block;
		}

		#ser-input-2:checked ~ .service__type--02 {
			display: block;
		}

		#ser-input-3:checked ~ .service__type--03 {
			display: block;
		}

		.service__type--01::before {
			content: "";
			position: absolute;
			top: 85px;
			right: 66px;
			width: 136px;
			height: 164px;

			background: transparent url("../img/icon_sprite/icon_sprite.png") -40px -672px no-repeat;
		}

		.service__type--02::before {
			content: "";
			position: absolute;
			top: 60px;
			right: 46px;
			width: 171px;
			height: 195px;

			background: transparent url("../img/icon_sprite/icon_sprite.png") -40px -1805px no-repeat;
		}

		.service__type--03::before {
			content: "";
			position: absolute;
			top: 59px;
			right: 70px;
			width: 156px;
			height: 188px;

			background: transparent url("../img/icon_sprite/icon_sprite.png") -40px -404px no-repeat;
		}

			.service__type-title {
				display: block;
				margin-bottom: 28px;

				font-family: GilroyExtraBold;
				font-size: 47px;
				letter-spacing: 1px;
				color: #000000;
			}

			.service__type-description {
				margin: 0;
				padding: 0;
				width: 460px;

				font-family: OpenSansLight;
				font-size: 15px;
				line-height: 30px;
				letter-spacing: 0.3px;
				color: #464646;
			}

.firms-logo {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: flex-start;
	justify-content: space-between;

	width: 1160px;
	margin: 0 auto;
	margin-bottom: 93px;
}

	.firms-logo__link {
		display: block;
		flex-basis: 260px;
		height: 100px;
		display: block;
	}

		.firms-logo__link img:last-child {
			display: none;
		}

		.firms-logo__link:hover img:last-child {
			display: inline;
		}

		.firms-logo__link:hover img:first-child {
			display: none;
		}

.info {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: stretch;
	justify-content: space-between;

	width: 1160px;
	margin: 0 auto;
	margin-bottom: 82px;
}

	.info__block {
		position: relative;

		display: flex;
		flex-direction: column;

		padding-top: 49px;
	}

	.info__block--about {
		flex-basis: 475px;
	}

	.info__block--contacts {
		flex-basis: 560px;
	}

	.info__block::before {
		content: "";
		position: absolute;
		top: 0px;
		left: 0px;
		width: 80px;
		height: 7px;
		background: #000000;
	}

		.info__title {
			margin: 0;
			margin-bottom: 40px;

			font-family: GilroyExtraBold;
			font-size: 47px;
			letter-spacing: 0.3px;
			color: #000000;
		}

		.info__description {
			margin: 0px;
			margin-bottom: 30px;

			font-family: OpenSansLight;
			font-size: 15px;
			line-height: 30px;
			color: #464646;
		}

		.info__description--about {
			margin-bottom: 65px;
		}

		.info__map {
			margin-bottom: 78px;
			width: 560px;
			height: 222px;
			background: url("../img/info/info__map.png") no-repeat;
			cursor: pointer;
		}

			.info__map img {
				cursor: pointer;
			}

		.info__transportation-list {
			margin: 0px;
			margin-bottom: 55px;
			padding: 0px;

			list-style-type: none;
		}

			.info__transportation-item {
				display: flex;
				height: 40px;
				margin-bottom: 0px;
			}

				.info__transportation-item a {
					position: relative;

					display: block;
					padding-left: 35px;
					
					font-family: GilroyExtraBold;
					font-size: 16px;
					line-height: 40px;
					text-decoration: none;
					color: #000000;
				}

				.info__transportation-item a::before {
					content: "";
					position: absolute;
					top: 16px;
					left: 0px;

					box-sizing: border-box;
					width: 10px;
					height: 10px;
					border-radius: 50%;
					border: 3px solid rgba(0, 0, 0, 0.3);
				}

				.info__transportation-item a:hover::before {
					border: 3px solid rgba(0, 0, 0, 0.6);
				}

				.info__transportation-item a:active::before {
					border: 3px solid #000000;
				}

		.info__block .special-link {
			display: flex;
			justify-content: center;
			align-items: center;
			width: 260px;
			height: 40px;
			margin-right: auto;

			font-family: GilroyExtraBold;
			font-size: 18px;
			letter-spacing: 3.7px;
			line-height: 40px;
			text-decoration: none;
			text-transform: uppercase;
			color: #000000;

			background: linear-gradient(to bottom, transparent 0px, transparent 16px, #f0c52e 16px, #f0c52e 24px, transparent 24px);
			transition: background 1s;
		}

		.info__block .special-link:hover {
			background: #f0c52e;
		}

		.info__block .special-link:active {
			color: rgba(0, 0, 0, 0.3);
		}

/* ----------MAIN--catalog */
.main__title {
	display: flex;
	margin: 0 auto 16px auto;
	padding: 34px 60px 0px 60px;
	width: 1040px;

	font-family: GilroyExtraBold;
	font-size: 47px;
	letter-spacing: 0.6px;
	color: #000000;
}

.main__crumbs-list {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	margin: 0 auto 39px auto;
	padding: 0 60px 0px 60px;
	width: 1040px;

	list-style-type: none;
}

	.main__crumbs-item {
		position: relative;
		
		margin: 0;
		margin-right: 37px;
	}

	.main__crumbs-item::before {
		content: "";
		position: absolute;
		top: 16px;
		right: -21px;
		width: 5px;
		height: 2px;
		background: #000000;
		transform: rotate(45deg);
	}

	.main__crumbs-item::after {
		content: "";
		position: absolute;
		top: 18px;
		right: -21px;
		width: 5px;
		height: 2px;
		background: #000000;
		transform: rotate(-45deg);
	}

	.main__crumbs-item:last-child::before,
	.main__crumbs-item:last-child::after {
		display: none;
	}

		.main__crumbs-item a {
			font-family: OpenSansLight;
			font-size: 14px;
			line-height: 36px;
			letter-spacing: 0.1px;
			text-decoration: none;
			color: #000000;
			opacity: 0.3;
		}

		.main__crumbs-item a[href]:hover {
			opacity: 0.6;
		}

		.main__crumbs-item a[href]:active {
			opacity: 0.1;
		}

.main__catalog-titles {
	display: flex;
	flex-direction: row;
	justify-content: center;
	min-height: 70px;

	background: linear-gradient(to right, #dbdbdb 0%, #dbdbdb 45%, #ebebeb 45%, #ebebeb 100%);
}
	.main__filter-title-block {
		display: flex;
		flex-direction: row;
		align-items: center;
		flex-basis: 200px;
		padding-left: 60px;
		padding-right: 68px;

		font-family: GilroyExtraBold;
		font-size: 16px;
		line-height: 1.2;
		text-transform: uppercase;
		letter-spacing: 3.8px;
		color: #000000;
	}

	.main__sort-title-block {
		display: flex;
		flex-direction: row;
		align-items: center;
		flex-basis: 760px;
		min-height: 70px;
		padding-left: 72px;

		background-color: #ebebeb;
	}

		.main__sort-title {
			display: flex;
			margin-right: 49px;

			font-family: GilroyExtraBold;
			font-size: 16px;
			line-height: 1.2;
			text-transform: uppercase;
			letter-spacing: 3.8px;
			color: #000000;
		}

		.main__sort-type-list {
			display: flex;
			margin: 0;
			padding: 0;

			list-style-type: none
		}

			.main__sort-type-item {
				padding-right: 30px;
			}

				.main__sort-type-item a {
					font-family: OpenSans;
					font-size: 14px;
					line-height: 18px;
					color: #000000;
					opacity: 0.3;
				}

				.main__sort-type-item:hover a[href] {
					opacity: 0.6;
				}

				.main__sort-type-item:active a[href] {
					opacity: 1;
				}

				.main__sort-type-item--current a {
					opacity: 1;
				}

		.main__sort-arrows-list {
			display: flex;
			margin: 0;
			margin-left: auto;
			padding: 0;

			list-style-type: none
		}

			.main__sort-arrow-direction {
				margin: 0;
				padding: 0;
			}

				.main__sort-arrow-direction a {
					position: relative;
					display: block;

					font-size: 0px;
				}

				.main__sort-arrow-direction:first-child a::before {
					content: "";
					position: absolute;
					top: -14px;
					right: 43px;
					border: 9px solid transparent;
					border-bottom: 9px solid #000000;
					opacity: 0.2;
				}

				.main__sort-arrow-direction:last-child a::after {
					content: "";
					position: absolute;
					top: -5px;
					right: 0px;
					border: 9px solid transparent;
					border-top: 9px solid #000000;
					opacity: 0.2;
				}

				.main__sort-arrow-direction:first-child a[href]:hover::before,
				.main__sort-arrow-direction:last-child a[href]:hover::after {
					opacity: 0.4;
				}

				.main__sort-arrow-direction:first-child a[href]:active::before,
				.main__sort-arrow-direction:last-child a[href]:active::after {
					opacity: 1;
				}

				.main__sort-arrow-direction--current:first-child a::before,
				.main__sort-arrow-direction--current:last-child a::after {
					opacity: 1;
				}

.main__catalog-content {
	display: flex;
	flex-direction: row;
	justify-content: center;

	background: linear-gradient(to right, #efefef 0%, #efefef 45%, #ffffff 45%, #ffffff 100%);
}

	.goods-filter {
		display: flex;
		flex-basis: 200px;
		padding-left: 60px;
		padding-right: 68px;
		flex-direction: column;

	}

		.goods-filter__form {
			margin: 0;
			padding: 0;
		}

			.goods-filter__price {
				display: flex;
				flex-direction: column;
				align-items: stretch;
				margin: 0;
				margin-top: 69px;
				padding: 0;

				border: none;
			}

				.goods-filter__form-title {
					display: flex;
					width: 100%;
					margin: 0;
					padding: 0;
					
					border-top: 2px solid #000000;

					font-family: GilroyExtraBold;
					font-size: 18px;
					line-height: 1.2;
					color: #000000;
				}

				.goods-filter__form-title--price {
					padding-top: 12px;
					margin-bottom: 36px;
				}

				.goods-filter__range-line {
					position: relative;
					width: 100%;
					height: 2px;
					margin-bottom: 11px;

					background-color: #dbdbdb;
				}

					.goods-filter__range-value {
						width: 113px;
						height: 2px;

						background-color: #91c92f;
					}

					.goods-filter__range-min {
						position: absolute;
						top: -6px;
						right: 76px;
						box-sizing: border-box;
						width: 14px;
						height: 14px;
						background-color: #eeeeee;
						border: 2px solid #000000;
						border-radius: 50%;
						cursor: pointer;
					}

					.goods-filter__range-max {
						position: absolute;
						top: -6px;
						left: -2px;
						box-sizing: border-box;
						width: 14px;
						height: 14px;
						background-color: #eeeeee;
						border: 2px solid #000000;
						border-radius: 50%;
						cursor: pointer;
					}

					.goods-filter__range-min:active,
					.goods-filter__range-max:active {
						background-color: #7eae29;
						border: 1px solid #ffffff;
						box-shadow: 0px 0px 0 2px #ffffff,
									0px 3px 5px 0 #000000;
					}

				.goods-filter__current-price {
					display: flex;
					font-family: GilroyLight;
					font-size: 14px;
					line-height: 22.27px;
					color: #000000;
					opacity: 0.2;
				}

					.goods-filter__current-price span:last-child {
						margin-left: 63px;
					}

			.goods-filter__color {
				display: flex;
				flex-direction: column;
				align-items: stretch;
				margin: 0;
				margin-top: 34px;
				padding: 0;

				border: none;
			}

				.goods-filter__form-title--color {
					padding-top: 12px;
					margin-bottom: 19px;
				}

				.goods-filter__color input {
					display: none;
				}

				.goods-filter__color-value {
					position: relative;

					padding-left: 38px;

					font-family: OpenSansLight;
					font-size: 14px;
					line-height: 40px;
					color: #000000;
					cursor: pointer;
				}

				.goods-filter__color-value:hover {
					opacity: 0.6;
				}

				.goods-filter__color-value:active {
					opacity: 0.3;
				}

				.goods-filter__color-value::before {
					content: "";
					position: absolute;
					top: 9px;
					left: -1px;
					width: 21px;
					height: 21px;
					background-color: #dbdbdb;
					box-shadow: 0px 0px 0px 1px #dbdbdb;
				}

				#goods-filter__black:checked ~ .goods-filter__color-value--black::before,
				#goods-filter__white:checked ~ .goods-filter__color-value--white::before,
				#goods-filter__blue:checked ~ .goods-filter__color-value--blue::before,
				#goods-filter__red:checked ~ .goods-filter__color-value--red::before,
				#goods-filter__pink:checked ~ .goods-filter__color-value--pink::before {
					background: #dbdbdb url("../img/icon_sprite/icon_sprite.png") no-repeat -246px 7px;
				}

			.goods-filter__bluetooth {
				display: flex;
				flex-direction: column;
				align-items: stretch;
				margin: 0;
				margin-top: 31px;
				margin-bottom: 30px;
				padding: 0;

				border: none;
			}

				.goods-filter__form-title--bluetooth {
					padding-top: 12px;
					margin-bottom: 19px;
				}

				.goods-filter__bluetooth input {
					display: none;
				}

				.goods-filter__bluetooth-select {
					position: relative;

					padding-left: 38px;

					font-family: OpenSansLight;
					font-size: 14px;
					line-height: 40px;
					color: #000000;
					cursor: pointer;
				}

				.goods-filter__bluetooth-select::before {
					content: "";
					position: absolute;
					top: 10px;
					left: -1px;
					width: 21px;
					height: 21px;
					border-radius: 50%;
					box-shadow: 0px 0px 0px 1px #dbdbdb;
				}

				.goods-filter__bluetooth-select:hover {
					opacity: 0.6;
				}

				.goods-filter__bluetooth-select:active {
					opacity: 0.3;
				}

				#goods-filter__on:checked ~ .goods-filter__bluetooth-select--on::before,
				#goods-filter__off:checked ~ .goods-filter__bluetooth-select--off::before {
					box-shadow: 0px 0px 0px 1px #dbdbdb,
								inset 0px 0px 0px 6px #eeeeee,
								inset 0px 0px 0px 8px #000000;
				}

			.goods-filter__button {
				display: flex;
				justify-content: center;
				align-items: center;
				width: 100%;

				font-family: GilroyExtraBold;
				font-size: 18px;
				letter-spacing: 3.7px;
				line-height: 40px;
				text-decoration: none;
				text-transform: uppercase;
				color: #000000;

				background: linear-gradient(to bottom, transparent 0px, transparent 16px, #f0c52e 16px, #f0c52e 24px, transparent 24px);
				transition: background 1s;
				border: none;
				outline: none;
				cursor: pointer;
			}

			.goods-filter__button:hover {
				background: #f0c52e;
			}

			.goods-filter__button:active {
				color: rgba(0, 0, 0, 0.3);
			}

	.goods-sort {
		display: flex;
		flex-basis: 760px;
		padding-left: 72px;
		flex-direction: row;

		background-color: #ffffff;
	}

		.goods-sort__main-catalog {
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;

			padding-top: 69px;
		}

			.catalog-item {
				display: flex;
				flex-direction: row;
				flex-wrap: wrap;
				flex-basis: 360px;
				
				align-content: flex-start;
			}

			.catalog-item:nth-child(2n) {
				margin-left: 40px;
				margin-bottom: 50px;
			}

			.catalog-item:nth-last-child(2) {
				margin-bottom: 39px;
			}

				.catalog-item__title {
					order: 2;
					
					margin: 0;
					padding: 0;
					align-self: flex-start;

					font-family: GilroyExtraBold;
					font-size: 18px;
					line-height: 1.2;
					letter-spacing: 0.2px;
				}

						.catalog-item__title a {
							color: #000000;
						}

						.catalog-item__title a:hover {
							opacity: 0.7;
						}

						.catalog-item__title a:active {
							opacity: 0.6;
						}

				.catalog-item__price {
					order: 2;
					display: flex;

					margin: 0;
					margin-left: auto;
					padding: 0;

					font-family: GilroyLight;
					font-size: 16px;
					line-height: 1.2;
					color: #464646;
				}

				.catalog-item__img {
					position: relative;

					padding: 0;
					margin: 0;
					order: 1;
					
					margin-bottom: 34px;
				}

				.catalog-item__img--new::before {
					content: "";
					position: absolute;
					top: 28px;
					right: 27px;
					width: 60px;
					height: 61px;
					background: transparent url("../img/icon_sprite/icon_sprite.png") no-repeat -40px -1266px;
					opacity: 0.1;
				}

					.catalog-item__img img {
						display: block;
					}

					.catalog-item__order-block {
						position: absolute;
						top: 0px;
						bottom: 0px;
						left: 0px;
						right: 0px;

						flex-direction: column;
						align-items: center;
						padding-top: 170px;
						display: none;

						background-color: rgba(238, 238, 238, 0.7);
					}

					.catalog-item__img:hover .catalog-item__order-block { 
						display: flex;
					 }

						.catalog-item__order-block .special-link {
							display: flex;

							justify-content: center;
							align-items: center;
							padding-left: 37px;
							padding-right: 37px;

							font-family: GilroyExtraBold;
							font-size: 18px;
							letter-spacing: 3.7px;
							line-height: 40px;
							text-decoration: none;
							text-transform: uppercase;
							color: #000000;

							background: linear-gradient(to bottom, transparent 0px, transparent 16px, #f0c52e 16px, #f0c52e 24px, transparent 24px);
							transition: background 1s;
							border: none;
							outline: none;
							cursor: pointer;
						}

						.catalog-item__order-block .special-link:hover {
							background: #f0c52e;
						}

						.catalog-item__order-block .special-link:active {
							color: rgba(0, 0, 0, 0.3);
						}

						.catalog-item__order-block a:last-child {
							font-family: OpenSansLight;
							font-size: 13px;
							line-height: 36px;
							color: #000000;
							opacity: 0.5;
						}

						.catalog-item__order-block a:last-child:hover {
							opacity: 1;
						}

						.catalog-item__order-block a:last-child:active {
							opacity: 0.2;
						}

			.paginator {
				display: flex;
				flex-direction: row;
				justify-content: space-between;
				width: 100%;
				
				margin-bottom: 73px;
				
				background-color: #ebebeb;
			}

				.paginator__previous {
					display: flex;				
					padding-top: 26px;
					padding-bottom: 25px;
					padding-left: 30px;
					padding-right: 23px;

					font-family: GilroyExtraBold;
					font-size: 16px;
					line-height: 1.2;
					letter-spacing: 3.7px;
					text-transform: uppercase;
					color: #000000;
				}

				.paginator__number-list {
					display: flex;
					flex-direction: row;
					align-items: center;

					margin: 0;
					padding: 0;
		
					list-style-type: none
				}

					.paginator__number-item {
						margin: 0;
						margin-right: 30px;
						padding: 0;
					}

					.paginator__number-item:last-child {
						margin-right: 0px;
					}

						.paginator__number-item a {
							font-family: GilroyExtraBold;
							font-size: 16px;
							line-height: 1.2;
							letter-spacing: 0px;
							color: #000000;
							opacity: 0.3;
						}

						.paginator__number-item a[href]:hover {
							opacity: 0.6;
						}

						.paginator__number-item a[href]:active {
							opacity: 1;
						}

						.paginator__number-item--current a {
							opacity: 1;
						}

				.paginator__next {
					display: flex;				
					padding-top: 26px;
					padding-bottom: 25px;
					padding-left: 30px;
					padding-right: 23px;

					font-family: GilroyExtraBold;
					font-size: 16px;
					line-height: 1.2;
					letter-spacing: 3.7px;
					text-transform: uppercase;
					color: #000000;
				}

				.paginator__previous[href]:hover,
				.paginator__next[href]:hover {
					background-color: rgba(0, 0, 0, 0.08);
				}

				.paginator__previous[href]:active,
				.paginator__next[href]:active {
					background-color: rgba(0, 0, 0, 0.08);
					color: rgba(0, 0, 0, 0.3);
				}

				.paginator__previous--unavailable,
				.paginator__next--unavailable {
					background-color: transparent;
					color: #000000;
				}

/* ----------FOOTER */
.footer {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	align-items: flex-start;
	justify-content: center;
	width: 100%;
	padding-bottom: 65px;

	background: #464646;
}

	.footer__info {
		flex-basis: 360px;
		padding-top: 55px;
	}

		.footer__logo {
			display: block;
			margin-bottom: 20px;

			font-family: GilroyExtraBold;
			font-size: 48px;
			text-transform: uppercase;
			text-decoration: none;
			color: #ffc600;
		}

		.footer__logo[href]:hover {
			opacity: 0.6;
		}

		.footer__logo[href]:active {
			opacity: 0.3;
		}

		.footer__our-address {
			position: relative;
			
			display: block;
			font-family: OpenSansLight;
			font-size: 15px;
			line-height: 30px;
			color: #ffffff;
		}

		.footer__our-address::before {
			content: "";
			position: absolute;
			top: 107px;
			left: 0px;
			width: 80px;
			height: 7px;
			background: #ffc600;
		}

	.footer__main-menu {
		flex-basis: 440px;
		padding-top: 139px;
	}

		.footer__menu-list {
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			margin: 0;
			margin-bottom: 64px;
			padding: 0;

			list-style-type: none;
		}

			.footer__menu-item {
				margin-left: 5px
			}

				.footer__menu-link {
					font-family: GilroyExtraBold;
					font-size: 18px;
					text-transform: uppercase;
					letter-spacing: 4px;
					color: #ffffff;
				}

				.footer__menu-link:hover {
					opacity: 0.6;
				}

				.footer__menu-link:active {
					opacity: 0.3;
				}

		.social {
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			margin: 0 auto;
			width: 148px;
		}

			.social__box {
				font-size: 0px;
				flex-basis: 39px;
				height: 38px;
				background: transparent url("../img/icon_sprite/icon_sprite.png") no-repeat;
				opacity: 0.3;
			}

			.social__box:hover {
				opacity: 0.6;
			}

			.social__box:active {
				opacity: 0.1;
			}

			.social__box--fb {
				background-position: -40px -916px;
			}

			.social__box--inst {
				background-position: -40px -1148px;
			}

			.social__box--twit {
				background-position: -40px -1503px;
			}

	.footer__aside-menu {
		display: flex;
		flex-direction: column;
		flex-basis: 360px;
		padding-top: 60px;
	}

		.footer__interactive-list {
			display: flex;
			flex-direction: row;
			justify-content: flex-end;
			margin: 0;
			margin-bottom: 31px;
			padding: 0;

			list-style-type: none;
		}

			.footer__interactive-item {
				margin: 0px;
				padding: 0px;
			}

				.footer__interactive-link {
					display: block;
					padding-left: 35px;

					font-family: OpenSansLight;
					font-size: 15px;
					line-height: 36px;
					text-decoration: none;
					color: #ffffff;

					background: transparent url("../img/icon_sprite/icon_sprite.png") no-repeat;
					opacity: 0.7;
				}

				.footer__interactive-link:hover {
					opacity: 1;
				}

				.footer__interactive-link:active {
					opacity: 0.3;
				}

				.footer__interactive-link--user {
					background-position: -31px -1701px;
					
				}

				.footer__interactive-link--compare {
					background-position: -25px -300px;
					margin-left: 29px;
				}

				.footer__interactive-link--cart {
					background-position: -27px -120px;
					margin-left: 29px;
				}

		.footer__our-phone {
			margin-left: auto;
			margin-bottom: 60px;

			font-family: OpenSansLight;
			font-size: 15px;
			line-height: 36px;
			text-decoration: none;
			color: #ffffff;
		}

		.footer__html-academy {
			margin-left: auto;
			font-size: 0;
			width: 27px;
			height: 34px;
			background: transparent url("../img/icon_sprite/icon_sprite.png") no-repeat -40px -1034px;
		}

		.footer__html-academy:hover {
			opacity: 0.6;
		}

		.footer__html-academy:active {
			opacity: 0.3;
		}

/* ----------POPUPS */
.map {
	position: fixed;
	z-index: 100;
	top: 50%;
	left: 50%;
	
	display: none;
	margin-top: -279.5px;
	margin-left: -480px;
	width: 960px;
	height: 559px;
	
	box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.2);
}

.map--show {
	display: block;
	animation: map--show 0.6s;
}

	.map .map__close {
		position: absolute;
		top: 0px;
		right: -70px;

		width: 55px;
		height: 55px;

		font-size: 0px;
		
		background: transparent url("../img/icon_sprite/icon_sprite.png") no-repeat 0 -2040px;
		opacity: 0.5;
		cursor: pointer;
	}

	.map .map__close:hover {
		opacity: 1;
	}

	.map .map__close:active {
		opacity: 0.8;
	}

	@keyframes map--show {
		0% {				transform: translateX(-2000px);}
		70% {				transform: translateX(30px);}
		90% {				transform: translateX(-10px);}
		100% {				transform: translateX(0);}
	}

.write-us {
	position: fixed;
	z-index: 100;
	top: 50%;
	left: 50%;
	
	display: none;
	margin-top: -276.5px;
	margin-left: -480px;
	width: 960px;
	height: 553px;
	
	box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.2);
	background-color: #ffffff;
}

.write-us--show {
	display: flex;
	animation: write-us--show 0.6s;
}

	.write-us .write-us__close {
		position: absolute;
		top: 22px;
		right: 22px;

		width: 55px;
		height: 55px;
		
		font-size: 0px;

		background: transparent url("../img/icon_sprite/icon_sprite.png") no-repeat 0 -2040px;
		opacity: 0.5;
		cursor: pointer;
	}

	.write-us .write-us__close:hover {
		opacity: 1;
	}

	.write-us .write-us__close:active {
		opacity: 0.8;
	}

	.write-us__form {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		align-content: flex-start;
		justify-content: flex-start;

		margin: 0 auto;
		padding: 0;
		padding-top: 97px;
		width: 760px;
	}

		.write-us__name {
			margin: 0;
			padding: 0;
			border: none;
		}

			.write-us__title {
				margin-bottom: 14px;

				font-family: GilroyExtraBold;
				font-size: 18px;
				line-height: 18px;
				color: #000000;
			}

				.write-us__input {
					margin: 0;
					padding: 0;
					padding-left: 22px;
					padding-right: 22px;
					width: 316px;
					height: 50px;
					
					color: #000000;
					border: none;
					outline: none;
					background-color: rgba(229, 229, 229, 0.5);
				}

				.write-us__input::-webkit-input-placeholder {
					color: rgba(0, 0, 0, 0.4);
				}

				.write-us__input::-moz-placeholder {
					color: rgba(0, 0, 0, 0.4);
				}

				.write-us__input:-ms-input-placeholder {
					color: rgba(0, 0, 0, 0.4);
				}

				.write-us__input:hover {
					background-color: rgba(229, 229, 229, 0.8);
				}

				.write-us__input:focus {
					background-color: #ffffff;
					outline: 3px solid rgba(240, 197, 46, 0.5);
				}

		.write-us__email {
			margin: 0;
			margin-left: auto;
			margin-bottom: 37px;
			padding: 0;
			border: none;
		}

		.write-us__letter {
			margin: 0;
			margin-bottom: 44px;
			padding: 0;

			border: none;
		}

			.write-us__area {
				margin: 0;
				padding: 22px;
				padding-top: 18px;
				min-width: 718px;
				max-width: 718px;
				min-height: 116px;
				max-height: 116px;
				
				color: #000000;
				resize: none;
				border: none;
				outline: none;
				background-color: rgba(229, 229, 229, 0.5);
			}

			.write-us__area::-webkit-input-placeholder {
				color: rgba(0, 0, 0, 0.4);
			}

			.write-us__area::-moz-placeholder {
				color: rgba(0, 0, 0, 0.4);
			}

			.write-us__area:-ms-input-placeholder {
				color: rgba(0, 0, 0, 0.4);
			}

			.write-us__area:hover {
				background-color: rgba(229, 229, 229, 0.8);
			}

			.write-us__area:focus {
				background-color: #ffffff;
				outline: 3px solid rgba(240, 197, 46, 0.5);
			}

		.write-us__form .special-link {
			display: flex;

			justify-content: center;
			align-items: center;
			padding-left: 37px;
			padding-right: 37px;

			font-family: GilroyExtraBold;
			font-size: 18px;
			letter-spacing: 3.7px;
			line-height: 40px;
			text-decoration: none;
			text-transform: uppercase;
			color: #000000;

			background: linear-gradient(to bottom, transparent 0px, transparent 16px, #f0c52e 16px, #f0c52e 24px, transparent 24px);
			transition: background 1s;
			border: none;
			outline: none;
			cursor: pointer;
		}

		.write-us__form .special-link:hover {
			background: #f0c52e;
		}

		.write-us__form .special-link:active {
			color: rgba(0, 0, 0, 0.3);
		}

	@keyframes write-us--show {
		0% {				transform: translateX(-2000px);}
		70% {				transform: translateX(30px);}
		90% {				transform: translateX(-10px);}
		100% {				transform: translateX(0);}
	}