.sprite {
    background-image: url(spritesheet.png);
    background-repeat: no-repeat;
    display: block;
}

.sprite-cart-1 {
    width: 12px;
    height: 12px;
    background-position: -40px -40px;
}

.sprite-cart-2 {
    width: 12px;
    height: 12px;
    background-position: -40px -132px;
}

.sprite-compare-1 {
    width: 10px;
    height: 10px;
    background-position: -40px -224px;
}

.sprite-compare-2 {
    width: 10px;
    height: 10px;
    background-position: -40px -314px;
}

.sprite-credit {
    width: 156px;
    height: 188px;
    background-position: -40px -404px;
}

.sprite-delivery {
    width: 136px;
    height: 164px;
    background-position: -40px -672px;
}

.sprite-fb {
    width: 39px;
    height: 38px;
    background-position: -40px -916px;
}

.sprite-htmlacademy {
    width: 27px;
    height: 34px;
    background-position: -40px -1034px;
}

.sprite-inst {
    width: 39px;
    height: 38px;
    background-position: -40px -1148px;
}

.sprite-new {
    width: 60px;
    height: 61px;
    background-position: -40px -1266px;
}

.sprite-search {
    width: 16px;
    height: 16px;
    background-position: -40px -1407px;
}

.sprite-twit {
    width: 38px;
    height: 38px;
    background-position: -40px -1503px;
}

.sprite-user-1 {
    width: 13px;
    height: 12px;
    background-position: -40px -1621px;
}

.sprite-user-2 {
    width: 13px;
    height: 12px;
    background-position: -40px -1713px;
}

.sprite-warranty {
    width: 171px;
    height: 195px;
    background-position: -40px -1805px;
}

.icon_sprite-tick {
    width: 12px;
    height: 7px;
    background-position: -251px 0;
}
